{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/battletech.css') }}">
{% endblock %}
{% block content %}
<div class="collapse no-cursor" id="collapseMenu" style="z-index: 1002; width: 420px;">
    <div class="card card-body">
        <div class="accordion" id="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseMaps" aria-expanded="false" aria-controls="collapseMaps"> Change Map
                    </button>
                </h2>
                <div id="collapseMaps" class="accordion-collapse collapse" data-bs-parent="#accordion">
                    <div class="accordion-body">
                        <div class="accordion" id="accordionMaps">
                            <div class="accordion-item">
                                {% if not maps %}
                                <h3>There are no folders!</h3>
                                {% endif %}
                                {% if maps %}
                                {% for folderName, folders in maps.items() %}
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#map-collapse-{{ folderName }}" aria-expanded="false"
                                        aria-controls="map-collapse-{{ folderName }}"> {{ folderName }} </button>
                                </h2>
                                <div id="map-collapse-{{ folderName }}" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <div class="list-group">
                                            {% if not folders %}
                                            <div class="">
                                                <h3>There are no maps!</h3>
                                            </div>
                                            {% endif %}
                                            {% if folders %}
                                            {% for name, map in folders.items() %}
                                            <a href="#" class="list-group-item list-group-item-action map-item"
                                                data-folder="{{ folderName }}" data-name="{{ map['name'] }}"> {{
                                                map['name']
                                                }}</a>
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a id="openSaveModal" class="btn btn-primary mt-2" role="button">Save Map</button>
            <a id="openDropNoteModal" class="btn btn-primary mt-2" role="button">Drop Note</a>
            <a id="removeNote" class="btn btn-primary mt-2 pos" role="button">Remove Note</a>
            <a id="setDragMode" class="btn btn-primary mt-2" role="button">Drag Mode (Off)</a>
            <a id="lockMap" class="btn btn-success mt-2" role="button">Lock Map</a>
        </a>
        <a id="exit" class="btn btn-primary mt-2" href="/" role="button">Exit</a>
    </div>
</div>
<div class="collapse no-cursor" id="collapseMenu2" style="z-index: 1002; width: 420px;">
    <div class="card card-body">
        <div class="accordion" id="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseMaps2" aria-expanded="false" aria-controls="collapseMaps2"> Change Map
                    </button>
                </h2>
                <div id="collapseMaps2" class="accordion-collapse collapse" data-bs-parent="#accordion">
                    <div class="accordion-body">
                        <div class="accordion" id="accordionMaps2">
                            <div class="accordion-item">
                                {% if not maps %}
                                <h3>There are no folders!</h3>
                                {% endif %}
                                {% if maps %}
                                {% for folder, folders in maps.items() %}
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#map-collapse-{{ folder['aria_tag'] }}2" aria-expanded="false"
                                        aria-controls="map-collapse-{{ folder['aria_tag'] }}2"> {{ folder }} </button>
                                </h2>
                                <div id="map-collapse-{{ folder['aria_tag'] }}2" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <div class="list-group">
                                            {% if not folders %}
                                            <div class="">
                                                <h3>There are no maps!</h3>
                                            </div>
                                            {% endif %}
                                            {% if folders %}
                                            {% for name, map in folders.items() %}
                                            <a href="#" class="list-group-item list-group-item-action map-item"
                                                data-folder="{{ folderName }}" data-name="{{ map['name'] }}"> {{
                                                map['name']
                                                }}</a>
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="saveModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="saveModalLabel">Overwrite Map?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"> This will overwrite the saved map with the current map. Are you sure you want to
                proceed?<br />
                <strong>This action cannot be undone.</strong>
            </div>
            <div class="modal-footer">
                <button id="closeSaveModal" type="button" class="btn btn-secondary">Close</button>
                <button id="saveMap" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="noteModal" tabindex="-1" aria-labelledby="noteModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>Please enter a note:</p>
                <input type="text" id="noteInput" class="form-control">
            </div>
            <div class="modal-footer">
                <button id="cancelNote" type="button" class="btn btn-secondary">Cancel Note</button>
                <button id="submitNote" type="button" class="btn btn-primary">Submit Note</button>
            </div>
        </div>
    </div>
</div>
<div id='canvas'></div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/battletech.js') }}"></script>
{% endblock %}